@import url("https://fonts.googleapis.com/css2?family=Avenir+Next:wght@400;500;600;700&family=Fira+Code:wght@400;700&family=Fira+Mono:wght@400;700&family=Manrope:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap");

:root {
	--font-base: "Avenir Next", "Manrope", sans-serif;
	--font-mono: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
	--h: 180;
	--s: 2%;
	--l: 20%;
	--color-bg: hsl(0, 0%, 4%);
	--color-grey-100: #fff;
	--color-grey-300: #e4e7e7;
	--color-grey-400: #c9cfcf;
	--color-grey-500: #9ea9a9;
	--color-grey-700: #7a8484;
	--color-grey-900: #3b4040;
	--color-grey-950: #272a2a;
	--color-primary: hsl(var(--h), var(--s), var(--l));
	--shadow-md: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
	rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	--shadow-lg: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
	--rounded-sm: 0.5rem;
	--rounded-md: 1.5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

html,
body,
#__next {
	min-height: 100% !important;
	height: 100%;
}

body {
	min-height: 100%;
	font-family: var(--font-base);
	background-color: var(--color-bg);
	color: var(--color-grey-100);
}

pre,
code {
	font-family: var(--font-mono);
}

code {
	background-color: var(--color-grey-950);
	padding: 0.25rem 0.5rem;
	margin: 0 0.25rem;
	border-radius: 0.4rem;
	font-size: 0.875rem;
}

code:before,
code:after {
	content: "`";
}

ul,
li {
	list-style-position: inside;
}

header {
	position: fixed;
	width: 100%;
	z-index: 1000;
}


html{
}
.container{

}
.sitelogo{
	height: auto;
	min-width: 10vw;
	margin: 2em;
	margin-left: 3em;
	display: flex;
	justify-content: center;
}
.nav-link{
	height: 3.39844vw;
	font-size: .82031vw;
	font-family: Poppins, sans-serif;
	color: #81889a !important;
	-webkit-transition: color .3s;
	transition: color .3s;
}
.nav-link:hover{
	color: #3353a1 !important;
}
.nav-link a{
	height: 3.39844vw;
}
.nav-link .icon{
	margin-right: 1.36719vw;
	margin-left: 0.3vw;
}
video{
	margin: 0;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	overflow: hidden;
	scrollbar-width: none;
	pointer-events: none;
	width: 100%;
	height: 100vh;
}

.homepage{
	background-color: #1d1f2a;
}

.content-container{
	border-radius: .66406vw;
	padding: 0;
}
.main-content{
}

.main-content-inside{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.main-content-inside .homepage-titles{
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 40%;
	left: 40%;
	font-family: Poppins, sans-serif;
	color: white;
}
.main-content-inside .homepage-titles h1{
	font-weight: 900;
	font-size: 5vw;
	text-shadow: rgba(0, 0, 0, 0.7) 4px 4px 1px ;
}

.main-content-inside .homepage-titles h3{
	font-weight: 600;
	font-size: 2vw;
	text-shadow: rgba(0, 0, 0, 0.38) 2px 2px 1px ;

}

.navigation-bar {
	z-index: 10000;
	position: fixed;
	left: 0;
	bottom: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.sidebar{
	width: 15.03906vw;
	background: #1c1e2a;
	top: 0;
	padding-top: 1.09375vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	z-index: 10000;
	position: fixed;
	left: 0;
	bottom: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}
.view{
	margin: -2em -2em -2em 14.0001vw;
	box-sizing: border-box;
	min-height: 100vh;
	position: relative;
}
.logo{
	margin: 1em;
	height: 200px;
}
.connect-button{
	background-color: orange !important;
}
.content-inner{
	background-color: #070d14;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.home{
	height: 36.05469vw;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 50vw;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
}
.home .background{
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
	position: absolute;
	height: 46.71875vw;
}
.home .background img{
	width: 100%;
	height: 100vh;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	z-index: -1;
}
.home :after {
	content: "";
	display: block;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 20vw;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(7, 13, 20, 0)), to(#070d14b8));
	background: linear-gradient(180deg, rgba(7, 13, 20, 0), #070d14b8 100%);
	pointer-events: none;
}

.home .title{
	font-family: Poppins, sans-serif;
	font-weight: 700;
	color: #fff;
	font-size: 3.05469vw;
	margin-bottom: .89844vw;
	z-index: 1;
	text-shadow: 0px .42969vw 1.05469vw rgba(0, 0, 0, .5);
}
.home .description{
	z-index: 1;
	font-family: Poppins, sans-serif;
	font-weight: 700;
	color: #fff;
	text-shadow: 0px .42969vw 1.05469vw rgba(0, 0, 0, .5);
}
.home h6{
	display: block;
	font-size: 0.67em;
	margin-block-start: 2.33em;
	margin-block-end: 2.33em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	unicode-bidi: isolate;
}

.standard{
	padding-left: 11.13281vw;
	margin-top: -30vw;
	color: white;
	display: flex;
	position: relative;
}

.row{
	display: flex;
	border-radius: 3px;
	border-style: none;
}
.column-6{
	width: 50%;
	box-sizing: border-box;
	padding: 0 10px;
}
.row .column-6 {
	width: 50%;
	margin-top: .74219vw;
	margin-bottom: .97656vw;
}
.column-6 ul{
	list-style: none;

	margin: 0;
	padding: 0;
}
.standard .tab-container{
	width: 100%;
	padding: 1.71875vw 2.30469vw 2.77344vw;
	margin-left: -5.19531vw;
	border-radius: .82031vw;
	position: relative;
	z-index: 2;
	background: rgba(0, 0, 0, .5);
}
.standard .tab-container .title{
	margin-top: 1.52344vw;
	font-size: 1.55469vw;
	font-family: Poppins, sans-serif;
	font-weight: 700;
	color: #fff;
}

.standard .tab-container .total{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-bottom-style: solid;
	border-bottom-color: #f57c38;
	margin-top: 2.14844vw;
	border-bottom-width: .11719vw;
	padding-bottom: .46875vw;
}
.standard .tab-container .check-container{
	border-radius: .82031vw;
	padding: 1.44531vw 1.875vw;
	margin-top: 1.25vw;
	margin-bottom: 1.5625vw;
	background: rgba(50, 55, 65, .3);
}
.standard li{
	background: rgba(14, 13, 23, .8);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	padding: 1em;
	justify-content: flex-start;
	font-size: x-large;
}
.standard li p{
	margin-bottom: 0 !important;
}
.standard li img{
	margin-right: 2vw;
}
.standard h6{
	font-family: Poppins, sans-serif;
	font-weight: 700;
	color: #fff;
}

.game-detail{
	padding: 0 7.65625vw 3.90625vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	z-index: 1;
}
.screenshots{
	padding: 0 7.65625vw 7.90625vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	z-index: 1;
}
.screenshots img{
	width: 33.78906vw;
	height: auto;
	padding: 1em;
}
.screenshots-single{
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	width: 1400px;
	padding-bottom: 3em;
}
.screenshots-single img{
	max-width: 100%;
	display: block;
}
.game-detail img{
	width: 33.78906vw;
	height: auto;
}
.game-detail .info{
	margin-left: 3.55469vw;
	-webkit-box-flex: 1;
	-ms-flex: 1 1;
	flex: 1 1;
}
.game-detail .info-right{
	margin-right: 3.55469vw;
	-webkit-box-flex: 1;
	-ms-flex: 1 1;
	flex: 1 1;
}
.game-detail .title{
	font-family: Poppins, sans-serif;
	font-weight: 700;
	color: #fff;
	line-height: 1.55;
	font-size: 1.67969vw;
}
.game-detail p{
	line-height: 1.45;
	font-family: Poppins, sans-serif;
	font-weight: 400;
	color: #fff;
	margin-top: 1.44531vw;
	font-size: .82031vw;
	text-align: justify;
}

.playButton{
	margin-top: 2em;
}
.siteMessage{
	margin-top: 2em;
	background-color: rgba(0, 0, 0, 0.58);
	padding: 2em;
	border-radius: 25px;
}
.siteMessage a{
	color: orange;
	text-decoration: none;
}

/* Narrow Screen View */
@media (max-width: 1240px) {
	.home .background{
		top: 0;
		left: 0;
		right: 0;
		z-index: 0;
		position: absolute;
		height: 16.71875vw !important;
	}
	.home .background img{
		width: 100%;
		height: 50vh;
		-o-object-fit: cover;
		object-fit: cover;
		-o-object-position: center;
		object-position: center;
		z-index: -1;
	}

	.main-content-inside .homepage-titles{
		position: fixed;
		top:40%;
		left:33%;
	}

	#unity-container {
		position: absolute;
		z-index:100;
	}

	#unity-container.unity-desktop {
		left: 50%;
		top: 30%;
		transform: translate(-30%, -50%);
		z-index: 100;
	}

	.navigation-bar {
		z-index: 1000;
		bottom: 0;
		width: 100%;
		height: 20vw;
		background-color: #1d1f2a;
	}
	.nav{
		flex-wrap: nowrap !important;
		height: 100%;
		place-content: center !important;
		align-content: center !important;
	}

	.menu-wallet-connect{
		display: none;
	}

	.game-detail{
		display: flex;
		flex-direction: column;
	}
	.game-detail img{
		height: 35vw;
		width: auto;
	}
	.game-detail p{
		font-size: small !important;
	}
	.game-detail .title{
		font-size: large;
	}

	.navigation-menu{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		background: #1c1e2a;
		-webkit-box-shadow: 0px -1.05469vw 1.05469vw 0px rgba(0, 0, 0, .25);
		box-shadow: 0 -1.05469vw 1.05469vw rgba(0, 0, 0, .25);
	}
	.navigation-menu .a{
		-webkit-box-flex: 1;
		-ms-flex: 1 1;
		flex: 1 1;
		height: 100%;
		width: 100%;
		position: relative;
		text-wrap: none;
	}
	.view{
		margin: 0;
	}
	.content-container{
		padding: 0;
		margin: 0;
	}
	.homepage{
		padding: 0 !important;
	}
	.icon{
		width: 10vw;
		margin-left: 1vw;
		padding-left: 1vw;
	}
	.nav-link{
		display: flex;
		flex-direction: row;
		height: 100%;
		width: 20vw;

	}
	.nav-link .icon{
		width: 10vw;
		margin-left: 1vw;
		padding-left: 1vw;
	}
	.menu-item-title{
		display: flex;
		padding: .4vw;
		margin-left: -1.9vw;
		margin-top: 1.36719vw;
		font-size: 2.65625vw;
		font-weight: 700;
		line-height: 1;
		overflow: hidden;
		text-align: center;
	}
	 .sitelogo{
		-webkit-box-flex: 1;
		-ms-flex: 1 1;
		flex: 1 1;
		 position: fixed;
		 top:0;
	}
	.nav{
		flex-direction: row;
	}

	.ticketCounter{
		position: fixed;
		top: 5vw;
		left: 46%;
		width: 10vw;
	}
	.ticketCounter .progress{
		background: none;
	}
	.ticketCounter .progress .progress-bar{
		background: none;
	}

	.whitelist{
		position: fixed;
		top: 5em;
		right: 1em;
		padding-right: 1em;
		width: 10vw;
		padding-top: 0;
	}
	.freelist{
		position: fixed;
		top: 10em;
		right: 1em;
		padding-right: 1em;
		width: 10vw;
		padding-top: 0;
	}
}
@media (min-width: 1240px) {

	.navigation-bar {
		width: 15.03906vw;
		background: #1c1e2a;
		top: 0;
		padding-top: 1.09375vw;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.nav{
		flex-direction: column;
	}
	.container-fluid{
		padding: 0 !important;
	}
	.navigation-menu{

	}
	.navigation-menu .a{
		-webkit-box-flex: 1;
		-ms-flex: 1 1;
		flex: 1 1;
		height: 100%;
		width: 100%;
		position: relative;
		text-wrap: none;
		padding: 3em;
	}
	.menu-wallet-connect{
		padding-bottom: 2em;
		display: flex;
		align-items: center;
		justify-content: center;
	}

}


/* Unity */
.closeButton{
	position: fixed;
	top:5vw;
	right: 5vw;
	font-size: xx-large;
	color: white;
}
.unityBackground{
	background-color: #1d1f2a;
	width: 100%;
	height: 1000vw;
	position: fixed;
	z-index: 10000;
}
#unity-container {
	position: fixed;
	z-index:100000;
}
#unity-container.unity-desktop {
	left: 55%;
	top: 50%;
	transform: translate(-50%, -55%);
	z-index: 100000;
}
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #000002 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 10%; transform: translate(-50%, -10%); display: none }
#unity-logo { width: 154px; height: 130px;  }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px;  }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px;  }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px;  }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; color: white; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
/* /Unity */


.whitelist{
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding-top: 2em;
}

.freelist{
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding-top: 2em;
}

.wlBadge{
	background-color: rgba(255, 255, 255, 0.78);
	color: #1d1f2a;
	border-radius: 10px;
	padding: .2em;
	padding-left: 1em;
	padding-right: 1em;
	font-family: Poppins, sans-serif;
	font-weight: 600;
}
.wlBadge:hover {
	background-color: rgb(255, 255, 255);
}
	.wlText {
		margin-top: 4vw;
	}

.fsBadge{
	background-color: rgba(255, 255, 255, 0.78);
	color: #1d1f2a;
	border-radius: 10px;
	padding: .2em;
	padding-left: 1em;
	padding-right: 1em;
	font-family: Poppins, sans-serif;
	font-weight: 600;
}
.fsBadge:hover{
	background-color: rgb(255, 255, 255);
}

.connectLinks{
	-webkit-box-flex: 1;
	-ms-flex: 1 1;
	flex: 1 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-wrap: none !important;
	letter-spacing: 0.001vw;
	font-weight: 100;
	text-space: 0.001vw;
}
.connectLinks a{
	color: white !important;
	text-wrap: none !important;
	text-decoration: none;
	width: 11.75781vw;
	height: 2.8125vw;
	padding-left: 2.14844vw;
	margin-top: .70313vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-position: center center;
	background-size: cover;
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}
.connectLinks a:first-child{
	margin: 0;
}
.connectLinks a img{
	padding-right: 1em;
}

.scroll-slider{
	border-radius: 1.5625vw;
	margin-bottom: 7.8125vw;
	padding: 0 3.90625vw;
	position: relative;
	background: #0F1318;
	overflow: hidden;
}
.scroll-slider .scroll-container:after{
	right: 0;
	background: -webkit-gradient(linear, left top, right top, from(rgba(7, 13, 20, 0)), to(#111318));
	background: linear-gradient(90deg, rgba(7, 13, 20, 0), #111318 100%);
}

.scroll-slider .scroll-container:before {left: 0;
	background: -webkit-gradient(linear, left top, right top, from(#111318), to(rgba(7, 13, 20, 0)));
	background: linear-gradient(90deg, #111318, rgba(7, 13, 20, 0) 100%);
}
.scroll-slider .scroll-container{
	content: "";
	display: block;
	position: relative;
	top: 0;
	bottom: 0;
	width: 2.29688vw;
	z-index: 1;
}
.scroll-slider .title{
	-webkit-box-flex: 1;
	-ms-flex: 1 1;
	flex: 1 1;
	font-family: Poppins, sans-serif;
	font-weight: 700;
	color: #fff;
	margin-bottom: 1.875vw;
	margin-top: 1.875vw;
	padding-top: 2em;
	text-align: center;
	font-size: xx-large;
}
.scroll-slider ul{
	padding: 3.125vw 0;
	-webkit-animation: sliderMovementTwo 10s linear infinite;
	animation: sliderMovementTwo 10s linear infinite;
	width: 100%;
	white-space: nowrap;
	position: relative;
	font-size: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
}
.scroll-slider li{
	padding: 1vw;
}
.scroll-slider li img{
	width: 20vw;
}
.ticketCounter{
	display: flex;
	flex-direction: row;
	margin-left: 2vw;
}
.ticketCounter .progress{
	width: 50%;
	margin-top:.5vw;
	margin-left: 1vw;
}
.progress .progress-bar{
	background-color: #ef7309;
}
@-webkit-keyframes sliderMovementOne {
	0% {
		-webkit-transform: translateX(0);
		transform: translate(0)
	}
	to {
		-webkit-transform: translateX(-0.50781vw);
		transform: translate(-0.50781vw)
	}
}@keyframes sliderMovementTwo {
	 0% {
		 -webkit-transform: translateX(0);
		 transform: translate(0)
	 }
	 to {
		 -webkit-transform: translateX(-180.50781vw);
		 transform: translate(-180.50781vw)
	 }
 }