@import url("https://fonts.googleapis.com/css2?family=Avenir+Next:wght@400;500;600;700&family=Fira+Code:wght@400;700&family=Fira+Mono:wght@400;700&family=Manrope:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap");

:root {
	--font-base: "Avenir Next", "Manrope", sans-serif;
	--font-mono: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
	--h: 180;
	--s: 2%;
	--l: 20%;
	--color-bg: hsl(0, 0%, 4%);
	--color-grey-100: #fff;
	--color-grey-300: #e4e7e7;
	--color-grey-400: #c9cfcf;
	--color-grey-500: #9ea9a9;
	--color-grey-700: #7a8484;
	--color-grey-900: #3b4040;
	--color-grey-950: #272a2a;
	--color-primary: hsl(var(--h), var(--s), var(--l));
	--shadow-md: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
	rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	--shadow-lg: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
	--rounded-sm: 0.5rem;
	--rounded-md: 1.5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

html,
body,
#__next {
	min-height: 100% !important;
	height: 100%;
}

body {
	min-height: 100%;
	font-family: var(--font-base);
	background-color: var(--color-bg);
	color: var(--color-grey-100);
}

pre,
code {
	font-family: var(--font-mono);
}

code {
	background-color: var(--color-grey-950);
	padding: 0.25rem 0.5rem;
	margin: 0 0.25rem;
	border-radius: 0.4rem;
	font-size: 0.875rem;
}

code:before,
code:after {
	content: "`";
}

ul,
li {
	list-style-position: inside;
}

header {
	position: fixed;
	width: 100%;
}


html{
}
.container{

}
video{
	margin: 0;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	overflow: hidden;
	scrollbar-width: none;
	pointer-events: none;
	width: 100%;
	height: 100vh;
}

.homepage{
	overflow: hidden !important;
	background-color: #1d1f2a;
}

.main-content-inside{
	background-color: white;
	width: 100%;
	height: 100vh;
}
.logo{
	margin: 1em;
	height: 200px;
}
.connect-button{
	background-color: orange !important;
}
.content-inner{
	display: block;
}
.home{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	height: 96.05469vw;

}
.home .background{
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
	position: absolute;
}
.home .background img{
	width: 100%;
	height: 100vh;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	z-index: 0;
}
.home .background::after {
	content: "";
	display: block;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 40vw;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(7, 13, 20, 0)), to(#070d14b8));
	background: linear-gradient(180deg, rgba(7, 13, 20, 0), #070d14b8 100%);
	pointer-events: none;
}

.home .title{
	font-family: Poppins-Bold, sans-serif;
	font-weight: 700;
	color: #fff;
	font-size: 1.05469vw;
	margin-top: 1.13281vw;
	margin-bottom: .89844vw;
	z-index: 1;
}
.home .description{
	z-index: 1;
	font-family: Poppins-Bold, sans-serif;
	font-weight: 700;
	color: #fff;
}
.home h6{
	display: block;
	font-size: 0.67em;
	margin-block-start: 2.33em;
	margin-block-end: 2.33em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	unicode-bidi: isolate;
}

.standard{
	padding-left: 11.13281vw;
	margin-top: -30vw;
	color: white;
}

.row{
	display: flex;
	border-radius: 3px;
	border-style: none;
}
.column-6{
	width: 50%;
	box-sizing: border-box;
	padding: 0 10px;
}
.row .column-6 {
	width: 50%;
	margin-top: .74219vw;
	margin-bottom: .97656vw;
}
.column-6 ul{
	list-style: none;

	margin: 0;
	padding: 0;
}
.standard .tab-container{
	width: 100%;
	padding: 1.71875vw 2.30469vw 2.77344vw;
	margin-left: -5.19531vw;
	border-radius: .82031vw;
	position: relative;
	z-index: 2;
	background: rgba(0, 0, 0, .5);
}
.standard .tab-container .title{
	margin-top: 1.52344vw;
	font-size: 1.67969vw;
	font-family: Poppins-Bold, sans-serif;
	font-weight: 700;
	color: #fff;
}

.standard .tab-container .total{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-bottom-style: solid;
	border-bottom-color: #f57c38;
	margin-top: 2.14844vw;
	border-bottom-width: .11719vw;
	padding-bottom: .46875vw;
}
.standard .tab-container .check-container{
	border-radius: .82031vw;
	padding: 1.44531vw 1.875vw;
	margin-top: 1.25vw;
	margin-bottom: 1.5625vw;
	background: rgba(50, 55, 65, .3);
}
.standard li{
	background: rgba(14, 13, 23, .8);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}
.standard h6{
	font-family: Poppins-Bold, sans-serif;
	font-weight: 700;
	color: #fff;
}

.background-kittykaboom{
	background-image: url("/images/kitty-images/gamebanner.png"); background-repeat: no-repeat; background-position: center;
	height: 100vh;
	width: 100%;
}
.background-flyKitty{
	background-image: url("/images/plane-images/gamebanner.jpg"); background-repeat: no-repeat; background-position: center;
	height: 100vh;
	width: 100%;
}
.background-cubictangle{
	background-image: url("/images/cube-tangle/gamebanner.png"); background-repeat: no-repeat; background-position: center;
	height: 100vh;
	width: 100%;
}